#!/bin/zsh

#git
alias gs='git status -s'
alias ga='git add -p'
alias gc='git commit -m'
alias gpush='git push'
alias gpull='git pull'
alias undo='reset soft HEAD^'

#general
alias :q="exit"
alias c="clear"
alias projects='nvim $(find $HOME/code -maxdepth 1 -type d | fzf)' #open projects folder
alias ls='exa -al --color=always --group-directories-first'
alias grep='grep --color=auto'
alias dot='cd $HOME/code/dotfiles/' #open dotfiles folder
alias nvimconfig='cd $HOME/code/dotfiles/.config/nvim/' #open nvim config folder

#apt package manager
alias aptup='sudo apt update && sudo apt upgrade'
alias aptin='sudo apt install'
alias aptun='sudo apt uninstall'

#navigation
alias root='cd ~'
alias ..='cd ..'
alias ..2='cd ../../'
alias ..3='cd ../../../'
alias ..4='cd ../../../../'
alias ..5='cd ../../../../../'

#confirmations
alias mv='mv -i' #move file
alias cp='cp -i' #copy file
alias rm='rm -i' #delete file
alias ln='ln -i' #symlink file
