#!/bin/zsh

#git
alias gs='git status -s'
alias ga='git add -p'
alias gc='git commit -m'
alias gpush='git push'
alias gpull='git pull'
alias undo='reset soft HEAD^'

#general
alias :q="exit"
alias c="clear"
alias projects='nvim $(find $HOME/code -maxdepth 1 -type d | fzf)' #open projects folder
alias ls='exa -al --color=always --group-directories-first'
alias grep='grep --color=auto'
alias dot='cd $HOME/code/dotfiles/' #open dotfiles folder
alias nvimconfig='cd $HOME/code/dotfiles/.config/nvim/ && nvim' #open nvim config folder

#apt package manager
alias aptup='sudo apt update && sudo apt upgrade'
alias aptin='sudo apt install'
alias aptun='sudo apt uninstall'

#navigation
alias root='cd ~'
alias ..='cd ..'
alias ..2='cd ../../'
alias ..3='cd ../../../'
alias ..4='cd ../../../../'
alias ..5='cd ../../../../../'

#confirmations
alias mv='mv -i' #move file
alias cp='cp -i' #copy file
alias rm='rm -i' #delete file
alias ln='ln -i' #symlink file

#get tmux cheatsheet
alias tmuxch='check_and_clone_repo https://github.com/abdullahmorrison/tmux-cheatsheet'

# Function to check if a tmux-cheatsheet repo exists, clone if not, and cat tmux-cheatsheet.md
check_and_clone_repo() {
    local code_dir="$HOME/code"
    local repo_url="$1"
    local repo_name="$(basename -s .git "$repo_url")"
    local repo_path="$code_dir/$repo_name"
    local readme_file="$repo_path/tmux-cheatsheet.md"

    if [ ! -d "$repo_path" ]; then
        echo "Repository not found in $code_dir. Cloning..."
        git clone "$repo_url" "$repo_path"
    fi

    if [ -f "$readme_file" ]; then
        cat "$readme_file"
    else
        echo "tmux-cheatsheet.md not found in the repository."
    fi
}
